/*entire page of website - div inside body section*/
html, #root {
  height: 100%;
}

/*body section with the styles of the background*/
body {
  min-height: 100%;
  min-width: 100%;
  /*background: #B0C4DE;*/
  background-image: url("../../public/imgs/seattle.png");
  opacity: 20;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*heading navigation bar*/
.navbar {
    border-bottom:1px solid #778899;
    background: white;
    width:100%;
    height:35px;
    padding-top:14px;
    padding-left:20px;
}

/*button pages of website*/
a.link {
    color:black;
    text-decoration:none;
    margin-right: 50px;
    opacity:.4;
}

/*when page is active*/
a.link.active {
    opacity:1;
}

/*active page vs other pages*/
a > i {
    opacity:1;
}
