/*quote*/
.landing h3 {
  font-family: -webkit-pictograph;
  font-weight: normal;
  text-align: center;
  margin-top: 6vh;
  font-style: italic;
  font-size: 35px;
}

/*name*/
.landing h1 {
  font-family: -webkit-body;
  font-weight: bold;
  text-align: center;
  margin-top: 1vh;
  font-style: italic;
  font-size: 63px;
  color: white;
}

/*key words under name*/
.landing h2 {
  font-family: -webkit-body;
  font-weight: normal;
  text-align: center;
  margin-top: -3vh;
  font-style: italic;
  font-size: 27px;
}

/*icon div*/
.landing .icons {
  text-align: center;
  margin-top: 4vh;
}

/*LinkedIn*/
#linkedin {
  color: #00008B;
  font-size: 55px;
  margin-right: 20px;
}

/*instagram icon*/
#instagram {
  color: #B22222;
  font-size: 55px;
  margin-right: 20px;
}

/*facebook icon*/
#facebook {
  color: blue;
  font-size: 55px;
}

/*profile pic*/
#portrait {
  width: 12%;
  height: 12%;
  margin-left: 44%;
  border-radius: 55%;
  margin-top:4px;
}
